/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left-color: 5px solid blue;
}

.message__time--old {
  opacity: 0.7;
}

.message {
  line-height: 1.5;
}
