.countries {
  display: flex;
}

/* Add your own CSS code below
/* .countries--first{
  order: 1;
} */

.countries.countries--first > .country--brazil {
  order: 5;
}

.countries.countries--second > .country--brazil {
  order: 4;
}

.countries.countries--second > .country--uganda {
  order: 5;
}

.countries.countries--third {
  flex-direction: row-reverse;
}
